﻿<!-- Navigation -->
<nav class="" role="gnb">
  <div>
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <a class="" [routerLink]="['/']">EZCOWORK</a>
          </div>
        </div>
        <div class="">
          <input class="" placeholder="Search" type="text" [(ngModel)]="searchString" [ngModelOptions]="{standalone: true}">
          <div class="">
            <div class="">
              <span class=""></span>
              <span class="">Search</span>
            </div>
          </div>
        </div>
        <div class="">
          <div class="">
            <div class="">
              <a class="" [routerLink]="['/users']" routerLinkActive="active">Users</a>
            </div>
            <div class="">
              <a class="" routerLinkActive="active"><span class="_soakw">Activity Feed</span></a>
            </div>
            <div class="">
              <a class="" [routerLink]="['/users/' + currentUser.username]" routerLinkActive="active">{{currentUser.username}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- /Navigation -->