﻿<form class="" method="POST" action="#" role="form">
  <div class="">
    <input class="" id="signupEmail" aria-describedby="" aria-label="Username" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="Username" required type="email" maxlength="100" class="form-control"
           [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="">
    <input class="" id="signupPassword" aria-describedby="" aria-label="Password" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="Password" value="" type="password" required type="password" maxlength="25" class="form-control" length="40"
           [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
    <div class="">
      <a class="" href="/accounts/password/reset/">Forgot?</a>
    </div>
  </div>
  <span class="">
    <button class="" (click)="onLogin($event)" type="submit">Log in</button>
  </span>
  <div class="" *ngIf="errorMessage!=null">
    <p class="" aria-atomic="true" role="alert">{{errorMessage}}</p>
  </div>
</form>