﻿<form class="_3bqd5">
  <h2 class="_9qbcz">친구들의 사진과 동영상을 보려면 가입하세요.</h2>

  <div class="_djahe _i31zu">
    <input type="text" class="_kp5f7 _qy55y" aria-describedby="" aria-label="이메일" aria-required="true" autocapitalize="off" autocorrect="off" name="emailOrPhone" placeholder="이메일" value=""
           [(ngModel)]="registrationUser.email" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="_djahe _i31zu">
    <input type="text" class="_kp5f7 _qy55y" aria-describedby="" aria-label="성명" aria-required="false" autocapitalize="sentences" autocorrect="off" name="fullName" placeholder="성명" value=""
           [(ngModel)]="registrationUser.name" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="_djahe _i31zu">
    <input type="text" class="_kp5f7 _qy55y" aria-describedby="" aria-label="사용자 이름" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" placeholder="사용자 이름" value=""
           [(ngModel)]="registrationUser.nickname" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="_djahe _i31zu">
    <input type="password" class="_kp5f7 _qy55y" aria-describedby="" aria-label="비밀번호" aria-required="true" autocapitalize="off" autocorrect="off" name="password" placeholder="비밀번호" value=""
           [(ngModel)]="registrationUser.password" [ngModelOptions]="{standalone: true}">
  </div>
  <div>
    <span class="_1on88 _e616g">
      <button class="_aj7mu _taytv _ki5uo _o0442" (click)="onRegister($event)" type="submit">가입</button>
    </span>
  </div>
  <p class="_rpioj">
    가입하면 Instagram의
    <a class="_m4qul" href="/legal/terms/" target="_blank">약관</a>
    및
    <a class="_m4qul" href="/legal/privacy/" target="_blank">개인정보취급방침</a>
    에 동의하게 됩니다.
  </p>
</form>
