<section class="">
  <header class="">
    <h3>Project Registration</h3>
    <h4>More write specifically, you can find more suitable.</h4>
  </header>

  <main class="">
    <form class="" method="POST" action="#" role="form">
      <div class="form-group">
        <div *ngIf="errorMessage!=null" class="alert alert-danger">
          {{errorMessage}}
        </div>
      </div>
  
      <div class="form-group">
        <label class="control-label" for="projectTitle">Project Title</label>
        <input id="projectTitle" type="text" maxlength="50" class="form-control"
          [(ngModel)]="_project.title" [ngModelOptions]="{standalone: true}">
      </div>
  
      <div class="form-group">
        <label class="control-label" for="projectExpirationDate">Project Expiration Date</label>
        <input id="projectExpirationDate" type="number" maxlength="50" class="form-control"
          [(ngModel)]="_project.expirationDate" [ngModelOptions]="{standalone: true}">
      </div>
  
      <div class="form-group">
        <label class="control-label" for="projectBudget">Budget</label>
        <input id="projectBudget" type="number" class="form-control"
          [(ngModel)]="_project.budget" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectPlanStatus">Plan Status</label>
        <input id="projectPlanStatus" type="text" class="form-control"
          [(ngModel)]="_project.planStatus" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectPlanContent">Plan Content</label>
        <textarea id="projectPlanContent" class="form-control"
          [(ngModel)]="_project.planContent" [ngModelOptions]="{standalone: true}"></textarea>
      </div>

      <div class="form-group">
        <label class="control-label" for="projectPlanRelatedFiles">Plan Related Files</label>
        <input id="projectPlanRelatedFiles" type="text" class="form-control"
          [(ngModel)]="_project.planRelatedFiles" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectRelatedSkills">Related Skills</label>
        <input id="projectRelatedSkills" type="text" class="form-control"
          [(ngModel)]="_project.relatedSkills" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectRecruitingExpirationDate">Recruiting Expiration Date</label>
        <input id="projectRecruitingExpirationDate" type="text" class="form-control"
          [(ngModel)]="recruitingExpirationDateString" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectMeetingType">Meeting Type</label>
        <input id="projectMeetingType" type="text" class="form-control"
          [(ngModel)]="_project.meetingType" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectBeginningDate">Beginning Date</label>
        <input id="projectBeginningDate" type="text" class="form-control"
          [(ngModel)]="_project.beginningDate" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectManagingExpierence">Managing Expierence</label>
        <input id="projectManagingExpierence" type="text" class="form-control"
          [(ngModel)]="_project.managingExpierence" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="form-group">
        <label class="control-label" for="projectPreferringPartner">Preferring Partner</label>
        <input id="projectPreferringPartner" type="text" class="form-control"
          [(ngModel)]="_project.preferringPartner" [ngModelOptions]="{standalone: true}">
      </div>
  
      <div class="form-group">
        <button id="projectSubmit" type="submit" class="btn btn-info btn-block" (click)="onRegister($event)">
          Register Project
        </button>
      </div>
    </form>
  </main>
</section>