<section class="">
  <button class="" (click)="clickNewButton($event)">
    <span class="">
      <span class=""></span>
    </span>
    Register new product
  </button>
</section>

<div class="">
  <div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="100" (scrolled)="onScrollDown()">
    <article class="" *ngFor="let item of items">
      <header class="">
        <a class="" [routerLink]="['/users/' + item.ownerId]" style="width: 30px; height: 30px;">
          <img class="" src="{{item.avatarUrl}}">
        </a>
        <div class="">
          <a class="" title="{{item.ownerId}}" [routerLink]="['/users/' + item.ownerId]">{{item.ownerId}}</a>
          <a class="" title="{{item.title}}" [routerLink]="['/products/' + item.id]">{{item.title}}</a>
        </div>
        <a class="" [routerLink]="['/products/' + item.id]">
          <div class="" title="{{item.createdTimestamp * 1000 | date}}">{{item.createdTimestamp * 1000 | date}}</div>
        </a>
      </header>
      <div>
        <div class="">
          <div class="">
            <div class="" style="padding-bottom: 75%;">
              {{item.title}}
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <section class="">
          <div class="">
            <span class="">
              <span>30</span>
            </span>
          </div>
        </section>
      </div>
    </article>
  </div>
</div>