<div class="">
  <article class="">
    <header class="">
      <a class="" [routerLink]="['/users/' + (_projectDetail | async | dynamoDBAttributePipe: 'ownerId')]" style="width: 40px; height: 40px;">
        <img class="" src="">
      </a>
      <div class="">
        <a class="" title="mami807" [routerLink]="['/users/' + (_projectDetail | async | dynamoDBAttributePipe: 'ownerId')]">{{_projectDetail | async | dynamoDBAttributePipe: 'ownerId'}}</a>
      </div>
    </header>
    <div>
      <div class="">
        <div class="">
          <div class="" style="padding-bottom: 75%;">
            <img class="" id="pImage_179" src="z" style="">
          </div>
          <!-- react-empty: 10838 -->
          <div class=""></div>
        </div>
        <div class="">
          <iframe class="" aria-hidden="true" tabindex="-1"></iframe>
        </div>
      </div>
    </div>
    <!-- <comment-module [appliedCount]="_projectDetail | async | dynamoDBAttributePipe: 'appliedCount'"></comment-module>-->
  </article>
</div>