<header class="">
  <div class="">
    <div class="">
      <button class="" title="Add a profile photo" (click)="avatarInput.click()">
        <img alt="Add a profile photo" class="_g5pg0" src="{{_userDetail | async | cognitoAttributePipe:'UserAttributes':'avatarUrl'}}">
      </button>
      <input accept="image/jpeg" class="_loq3v" type="file" (change)="avatarUpload(avatarInput.files)" #avatarInput>
    </div>
  </div>
  <div class="">
    <div class="">
      <h1 class="" title="{{_userDetail | async | cognitoAttributePipe:'UserAttributes':'nickname'}}">{{_userDetail | async | cognitoAttributePipe:'UserAttributes':'nickname'}}</h1>
      <a class="" [routerLink]="['/users/' + (_userDetail | async | cognitoAttributePipe:'UserAttributes':'email') + '/edit']">
        <span class="">
          <button class="">Edit Profile</button>
        </span>
      </a>
      <div class="">
        <button class="" (click)="openOptionsModal(content)">Options</button>
        <template ngbModalContainer></template>
      </div>
    </div>
    <ul class="">
      <li class="">
        넣고싶은거 넣어요 통계적인 부분
      </li>
      <!--
      <li class="">
        <span class="">
          <span class="">0</span>
          posts
        </span>
      </li>
      <li class="">
        <a class="" href="/xkguq007/followers/">
          <span class="" title="12">12</span>
          followers
        </a>
      </li>
      <li class="">
        <a class="" href="/xkguq007/following/">
          <span class="">1</span>
          following
        </a>
      </li>
      -->
    </ul>
    <div class="">
      <h2 class="">{{_userDetail | async | cognitoAttributePipe:'UserAttributes':'email'}}</h2>
    </div>
  </div>
</header>

<!-- 아무것도 지원데이터나 이런거 없을 때 나오는 화면 -->
<div>
  <div class="">
    <div class="">
      <img class="" src="//instagramstatic-a.akamaihd.net/h1/images/mediaUpsell.jpg/7e0cb2166ce8.jpg">
    </div>
    <div class="">
      <div class="">
        <h2 class="">Start capturing and sharing your moments.</h2>
        <h3 class="">Get the app to share your first photo or video.</h3>
        <div class="">
          <a class="" href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.profilePage.badge&amp;mt=8">
            <img class="" alt="Available on the App Store" src="//instagramstatic-a.akamaihd.net/h1/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png">
          </a>
          <a class="" href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DprofilePage%26utm_medium%3Dbadge">
            <img class="" alt="Available on Google Play" src="//instagramstatic-a.akamaihd.net/h1/images/appstore-install-badges/english_get.png/74c874cf7dc5.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Template -->
<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Modal title</h4>
  </div>
  <div class="modal-body">
    <button type="button" class="btn btn-secondary" (click)="onLogout($event)">Logout</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>