﻿<!-- Main -->
<article class="" *ngIf="!(_ezcoworkWrapper.isAuthenticated | async)">
  <div class="">
    <div class="">
      <img class="" src="//instagramstatic-a.akamaihd.net/h1/images/homepage/screenshot1.jpg/aafd8c6b005d.jpg">
      <img class="" src="//instagramstatic-a.akamaihd.net/h1/images/homepage/screenshot2.jpg/2d9d7248af43.jpg">
      <img class="" src="//instagramstatic-a.akamaihd.net/h1/images/homepage/screenshot3.jpg/629d23a3c7b2.jpg">
      <img class="" src="//instagramstatic-a.akamaihd.net/h1/images/homepage/screenshot4.jpg/001bc33056c1.jpg">
      <img class="" src="//instagramstatic-a.akamaihd.net/h1/images/homepage/screenshot5.jpg/f5ae123ab1e2.jpg">
    </div>
  </div>

  <div class="">
    <div class="">
      <h1 class="">Instagram</h1>
      <div class="" *ngIf="loginFormActivated">
        <login-form (notify)="onNotifyFromLoginComponent($event)"></login-form>
      </div>

      <div class="" *ngIf="!loginFormActivated">
        <register-form></register-form>
      </div>
    </div>

    <div class="">
      <p class="" *ngIf="loginFormActivated">
        Don't have an account?
        <a class="" (click)="registrationClicked($event)">Sign up</a>
      </p>
      <p class="" *ngIf="!loginFormActivated">
        Have an account?
        <a class="" (click)="registrationClicked($event)">Log in</a>
      </p>
    </div>

    <div class="">
      <p class="">Get the app.</p>
      <div class="">
        <a class="" href="https://itunes.apple.com/app/instagram/id389801252?pt=428156&amp;ct=igweb.unifiedHome.badge&amp;mt=8">
          <img class="" alt="Available on the App Store" src="//instagramstatic-a.akamaihd.net/h1/images/appstore-install-badges/badge_ios_english-en.png/4b70f6fae447.png">
        </a>
        <a class="" href="https://play.google.com/store/apps/details?id=com.instagram.android&amp;referrer=utm_source%3Dinstagramweb%26utm_campaign%3DunifiedHome%26utm_medium%3Dbadge">
          <img class="" alt="Available on Google Play" src="//instagramstatic-a.akamaihd.net/h1/images/appstore-install-badges/english_get.png/74c874cf7dc5.png">
        </a>
      </div>
    </div>
  </div>
</article>
<!-- Main -->
<article *ngIf="(_jasoseoWrapper.isAuthenticated | async)">
  <project-list></project-list>
</article>