﻿<ezcowork-header (notify)="onNotifyFromProjectListComponent($event)" *ngIf="(isAuthenticated | async)">
</ezcowork-header>

<main class="">
  <router-outlet>
  </router-outlet>
</main>

<ezcowork-footer>
</ezcowork-footer>
